@model DummyBazaarWebApp.Models.Product 
@{
    ViewBag.Title = "Ürün Ekle";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}
<div class="form">
    <div class="formtitle">
        <h3>Ürün Ekle</h3>
    </div>
    <div class="formcontent">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <div>
                @Html.LabelFor(model => model.Name)
                <br />
                @Html.EditorFor(model => model.Name)
                <br />
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div>
                <label>Kategori Seçiniz:</label>
                <br />
                @Html.DropDownList("Category_ID",null, htmlAttributes:new {@class= "DropDown" })
                <br />
                @Html.ValidationMessageFor(model => model.Category_ID)
            </div>
            <div>
                @Html.LabelFor(model => model.Description)
                <br />
                @Html.EditorFor(model => model.Description)
                <br />
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div>
                <input type="submit" value="Ürün Ekle" />
            </div>
        }
    </div>
</div>

