@model DummyBazaarWebApp.Models.Category
@{
    ViewBag.Title = "Kategori Düzenle";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div class="form">
    <div class="formtitle">
        <h3>Kategori Düzenle</h3>
    </div>
    <div class="formcontent">
        @if (ViewBag.Mesaj != null)
        {
            <div>
                @ViewBag.Mesaj
            </div>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            @Html.HiddenFor(model=> model.ID)
            <div>
                @Html.LabelFor(model => model.Name)
                <br />
                @Html.EditorFor(model => model.Name)
                <br />
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div>
                @Html.LabelFor(model => model.Description)
                <br />
                @Html.EditorFor(model => model.Description)
                <br />
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div>
                <input type="submit" value="Kategori Düzenle" />
            </div>
        }
    </div>
    <div>
        <a href="@Url.Action("Index","Category")">Kategoriler Listesine Dön</a>
    </div>
</div>