@model IEnumerable<DummyBazaarWebApp.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_LayoutPage1.cshtml";
}
<div class="pagetitle" style="padding-left:0;">
    <h3>Kategoriler <small>Kayıtlı tüm kategorilerin listesi</small></h3>
</div>
<div>
    <div style="padding-bottom:20px;">
        <a href="@Url.Action("Create","Category")" class="createButton">Kategori ekle</a>
    </div>
    <table cellspacing="0" cellpadding="0" class="liste">
        <tr>
            <th>@Html.DisplayNameFor(model => model.ID)</th>
            <th>Üst Kategori</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>Seçenekler</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>
                    @if (item.TopCategory_ID != null)
                    {
                        <label>@item.TopCategory.Name</label>
                    }
                    else
                    {
                        <label>-</label>
                    }
                </td>
                <td>@item.Name</td>
                <td>
                    @if (item.Description.Length >= 50)
                    {
                        @item.Description.Substring(0, 50);
                        <label>...</label>
                    }
                    else
                    {
                        @item.Description
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit","Category", new {id = item.ID})">Düzenle</a>
                    <a href="@Url.Action("Delete", "Category", new {id = item.ID})">Sil</a>
                </td>
            </tr>
        }
    </table>
</div>



